<md-dialog aria-label="city" class="city">
  <md-toolbar>
    <div class="md-toolbar-tools" ng-init="data = city.data">
      <h2>{{city.name}}, <code>{{data.city.country}}</code></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close">
        <material-icon name="'close'"></material-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-if="city">
    <div class="city-photo" style="background-image: url(images/{{city.photo}})">
      <div class="photo-content">
        <h2 class="text-center">Today</h2>
        <div layout="row" layout-xs="column">
          <div class="weather text-center" flex ng-repeat="day in data.list">
            <div layout="row">
              <div>
                <div class="description">{{day.weather[0].description}}</div>
                <i class="owf owf-5x owf-{{day.weather[0].id}}"></i>
                <div class="text-color-accent">{{formatDate(day.dt)}}</div>
              </div>
              <div>
                <div>Temp.</div>
                <div class="temp">{{day.main.temp.toFixed(1)}} &deg;C</div>
                <div>Wind</div>
                <div class="temp">{{day.wind.speed.toFixed(1)}} km/h</div>
                <div><code><material-icon name="'trending_flat'"></material-icon> {{day.wind.deg.toFixed(0)}} &deg;</code></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md-dialog-content">
      <canvas width="700" height="300" id="chart" ng-init="init()">
      </canvas>
    </div>
  </md-dialog-content>
</md-dialog>