button,
button:focus,
material-icon:focus,
button:hover {
  outline: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.p-a-1 {
  padding: 10x;
}

.m-a-2 {
  margin: 20px;
}

.pull-right {
  float: right;
}

.text-muted {
  color: #999;
}

.text-small {
  font-size: 0.7em;
}

.city-photo {
  background: repeat center center;
  width: 100%;
}

.city-photo .photo-content {
  color: #fff;
  padding: 10px 0;
  background-color: rgba(1, 1, 1, 0.7);
}

.city-photo .photo-content .material-icons {
  color: #fff;
}

city-card {
  display: inline-block;
  width: 300px;
  text-align: left;
  cursor: pointer;
  margin: 10px;
  position: relative;
}

city-card .description {
  text-transform: uppercase;
}

city-card .temp {
  font-size: 1.5em;
}

city-card .owf {
  color: #999;
}

.city .description {
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
  height: 30px;
  font-weight: 300;
}

.city .temp {
  font-size: 1.3em;
  font-weight: 300;
}

.city .owf {
  color: #fff;
}

.city .weather {
  margin: 10px 20px;
}

.city .chart {
  max-width: 500px;
  height: 300px;
  margin: 20px auto;
}

.city .text-color-accent {
  color: rgb(255, 64, 129);
}

.city h2 {
  margin: 0;
}