<!DOCTYPE html>
<html lang="en" ng-app="openWeather" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Open Weather</title>
  <meta name="description" content="">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="styles/app.css">
  <link rel="stylesheet" href="lib/ow-font/css/owfont-regular.min.css">

</head>

<body>
  <div ng-controller="AppCtrl as ctrl" ng-cloak>
    <md-content>
      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Home">
            <material-icon name="'streetview'"></material-icon>
          </md-button>
          <h2>
            <span>Open Weather</span>
          </h2>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Refreseh" ng-disabled="ctrl.isLoading">
            <material-icon name="'cached'" ng-click="ctrl.getData()" is-loading="ctrl.isLoading"></material-icon>
          </md-button>
        </div>
      </md-toolbar>

      <div class="container text-center">
        <h1 class="text-muted">Cities of the world</h1>
        <div>
          <city-card ng-repeat="city in ctrl.cities" city="city" ng-click="ctrl.showCity($event, $index)">
          </city-card>
        </div>
      </div>
    </md-content>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular-messages.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular-aria.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0/angular-material.min.js"></script>
  <!--Main App script-->
  <script src="app.js"></script>
  <!--XHR Service-->
  <script src="services/xhr.js"></script>
  <!-- <material-icon /> Component-->
  <script src="components/material-icon/index.js"></script>
  <!-- <city-card /> Component-->
  <script src="components/city-card/index.js"></script>
  <!--City modal/dialog controller-->
  <script src="components/city/index.js"></script>
</body>

</html>