<md-card md-ink-ripple>
  <img ng-src="images/{{$ctrl.city.photo}}" class="md-card-image" alt="{{$ctrl.city.name}}">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{$ctrl.city.name}} <code class="pull-right text-muted text-small">{{$ctrl.city.data.city.country}}</code></span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div ng-if="$ctrl.city.data" layout="row">
      <div flex>
        <i class="owf owf-4x owf-{{$ctrl.city.data.list[0].weather[0].id}}"></i>
        <br/>
        <small class="description">{{$ctrl.city.data.list[0].weather[0].description}}</small>
      </div>
      <div flex>
        <div>Temp.</div>
        <div class="temp" ng-init="day = $ctrl.city.data.list[0]">{{day.main.temp.toFixed(1)}} &deg; C</div>
        <div>Wind</div>
        <div class="temp">{{day.wind.speed.toFixed(1)}} km/h</div>
        <div><code><material-icon name="'trending_flat'"></material-icon> {{day.wind.deg.toFixed(0)}} &deg;</code></div>
      </div>
    </div>
  </md-card-content>
</md-card>